#!/bin/sh
# shellcheck disable=2139,3003

#Local env
LOCAL_ENV="$HOME/.envrc.local"
if [ -f "$LOCAL_ENV" ]; then
	# shellcheck disable=1090
	. "$LOCAL_ENV"
fi

export EDITOR="nvim"
# nvim
if [ -n "$NVIM" ]; then
	export EDITOR="nvim --server $NVIM --remote"
	export GIT_EDITOR="nvim --server $NVIM --remote"
	alias nvim="nvim --server $NVIM --remote"
fi

# Default apps
export TERMINAL="kitty"
export VISUAL="kitty "$EDITOR

# bin
export PATH="$HOME/.emacs.d/bin:$HOME/.bin:$HOME/.local/bin:$PATH"

# Enable colors
command -v dircolors >/dev/null && eval "$(dircolors -b)"

# Add some colour to LESS/MAN pages
test -f "/usr/bin/source-highlight-esc.sh" && export LESSOPEN="| /usr/bin/source-highlight-esc.sh %s"
export LESS='-R'

export LESS_TERMCAP_mb=$'\E[01;31m'
export LESS_TERMCAP_md=$'\E[01;33m'
export LESS_TERMCAP_me=$'\E[0m'
export LESS_TERMCAP_se=$'\E[0m'
export LESS_TERMCAP_so=$'\E[01;42;30m'
export LESS_TERMCAP_ue=$'\E[0m'
export LESS_TERMCAP_us=$'\E[01;36m'

# Linux
if [ "$OS" = "Linux" ]; then
	export BROWSER="chromium"

	# pip
	export PYTHON_KEYRING_BACKEND=keyring.backends.SecretService.Keyring

fi

# MacOS
if [ "$OS" = "Darwin" ]; then
	export BROWSER="open -a 'Google Chrome'"

	# Homebrew
	export PATH="/opt/homebrew/bin:$PATH"

	# Max file descriptors per process
	ulimit -n 61440

	# iTerm2
	if [ -n "$ZSH_VERSION" ] && [ "$TERM_PROGRAM" = "iTerm.app" ]; then
		# shellcheck disable=1091
		test -e "${HOME}/.iterm2_shell_integration.zsh" && . "${HOME}/.iterm2_shell_integration.zsh"
	fi
fi

# Netlify
if [ -n "$ZSH_VERSION" ]; then
	test -f "$HOME/.config/netlify/helper/path.zsh.inc" && . "$HOME/.config/netlify/helper/path.zsh.inc"
fi

# asdf
. "$HOME/.asdf/asdf.sh"

# pre-commit
export PRE_COMMIT_ALLOW_NO_CONFIG=1

# zk
export ZK_NOTEBOOK_DIR="$HOME/Documents/Notes"

# XDG
export XDG_CONFIG_HOME="$HOME/.config"
export XDG_CACHE_HOME="$HOME/.cache"
export XDG_DATA_HOME="$HOME/.local/share"
export XDG_STATE_HOME="$HOME/.local/state"
