#!/bin/sh
# shellcheck disable=2139,3003

#Local env
LOCAL_ENV="$HOME/.envrc.local"
if [ -f "$LOCAL_ENV" ]; then
    # shellcheck disable=1090
    . "$LOCAL_ENV"
fi

# nvim
if [ -n "$NVIM" ]; then
    export EDITOR="nvim --server $NVIM--remote"
    alias nvim="nvim --server $NVIM --remote"
fi

# Default apps
export TERMINAL="kitty"
# shellcheck disable=2086
export VISUAL="kitty "$EDITOR
export BROWSER="chromium"

# bin
export PATH="$HOME/.emacs.d/bin:$HOME/.bin:$HOME/.local/bin:$PATH"

# Enable colors
command -v dircolors > /dev/null && eval "$(dircolors -b)"

# Add some colour to LESS/MAN pages
test -f "/usr/bin/source-highlight-esc.sh" && export LESSOPEN="| /usr/bin/source-highlight-esc.sh %s"
export LESS='-R'

export LESS_TERMCAP_mb=$'\E[01;31m'
export LESS_TERMCAP_md=$'\E[01;33m'
export LESS_TERMCAP_me=$'\E[0m'
export LESS_TERMCAP_se=$'\E[0m'
export LESS_TERMCAP_so=$'\E[01;42;30m'
export LESS_TERMCAP_ue=$'\E[0m'
export LESS_TERMCAP_us=$'\E[01;36m'

# asdf
. "$HOME/.asdf/asdf.sh"

# pip
export PYTHON_KEYRING_BACKEND=keyring.backends.SecretService.Keyring

# MacOS
if [ "$OS" = "Darwin" ]; then
    export PATH="/opt/homebrew/bin:$PATH"
    if [ -n "$ZSH_VERSION" ] && [ "$TERM_PROGRAM" = "iTerm.app" ]; then
      # shellcheck disable=1091
      test -e "${HOME}/.iterm2_shell_integration.zsh" && . "${HOME}/.iterm2_shell_integration.zsh"
    fi
fi

# Netlify
if [ -n "$ZSH_VERSION" ]; then
    test -f "$HOME/.config/netlify/helper/path.zsh.inc" && . "$HOME/.config/netlify/helper/path.zsh.inc"
fi
